/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 50px; 
		left: 50%;
		margin-left: -400px;
		width: 890px;
		background: #eee url(images/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 20px;
                overflow-y: auto;
                height: 460px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
                .reveal-modal div h3{
                    font-size: 26px;
                    float: left;
                    text-align: right;
                    color: #317bbd;
                    border-right: 2px solid rgba(27,54,81,0.4);width: 250px;
                }
                .reveal-modal div p{
                    font-size: 14px;
                    text-align: left;
                    float: left;
                    width: 280px;
                }
                .reveal-modal div h3,
                .reveal-modal div p{
                    padding: 10px 20px;
                    
                    
                }
                .reveal-modal div h3 span
                {
                      font-size: 16px;
                     
                      font-family: Santana-BlackCondensed; 
                }
             

	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
		
	
